<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="manhtuan\tuan_manh.Quan_Ly_Thu_Vien.TuanQuanLy" connectionString="XpoProvider=MSSqlServer;data source=MANHTUAN\TUAN_MANH;user id=;password=;initial catalog=Quan_Ly_Thu_Vien;Persist Security Info=true" />
        <add name="QuanLyThuVien.Properties.Settings.Quan_Ly_Thu_VienConnectionString"
            connectionString="Data Source=MANHTUAN\TUAN_MANH;Initial Catalog=Quan_Ly_Thu_Vien;Persist Security Info=True;User ID=TuanQuanLy;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Thu_VienConnectionString" connectionString="XpoProvider=MSSqlServer;data source=MANHTUAN\TUAN_MANH;user id=TuanQuanLy;password=123456;initial catalog=Quan_Ly_Thu_Vien;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
